@font-face {
    font-family: 'Trojan Pro';
    src: url(../fonts/Trajan\ Pro\ Regular.ttf);
}

:root{
    --text-font: 'Inter', sans-serif;
    --hollow-knight-font: 'Trojan Pro', cursive;
    --color-01: hsl(214, 43%, 10%) ;
    --color-02: hsl(186, 42%, 18%);
    --color-03: hsl(27, 9%, 62%);
    --color-04: hsl(0, 0%, 95%);
    --color-05: hsl(0, 0%, 5%);
}

body{
    color: var(--color-04);
}

header{
    display: flex;
    padding: 10px;
}

#logo{
    margin: 0 20px;
}

#navMenu ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 24px 0;
}

#navMenu ul li a{
    color: var(--color-04);
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font: 16px var(--hollow-knight-font);
    border-radius: 10px;
    border: 0.5px solid hsla(0, 0%, 0%, 0);
}

#navMenu ul li a:hover{
    border: 0.5px solid var(--color-04);
    background-color: hsla(0, 0%, 5%, 0.473);
}

main #home{
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 112px;
    padding: 0 16px;
    height: 85vh;
}

#home #synopsis{
    max-width: 600px;
    text-align: justify;
}

#synopsis p{
    color: var(--color-03);
    font-family: var(--hollow-knight-font);
    font-size: 14px;
    margin-top: 16px;
    line-height: 140%;
    padding: 10px 16px;
    border-radius: 20px;
    transition: 1s;
}

#synopsis p:hover{
    border: 0.5px solid var(--color-04);
    background-color: hsla(0, 0%, 5%, 0.473);
}

main #home #homeImage{
    max-height: 600px;
    width: auto;
    max-width: 100vw;
}

.bg_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.overlay::before {
    z-index: -1;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.82) 0%, rgba(0,0,0,0.49576327112876406) 50%, rgba(0,0,0,0.8178921226693803) 100%);
}