@font-face {
    font-family: 'Trojan Pro';
    src: url(../fonts/Trajan\ Pro\ Regular.ttf);
}

:root{
    --text-font: 'Inter', sans-serif;
    --hollow-knight-font: 'Trojan Pro', cursive;
    --color-01: hsl(214, 43%, 10%) ;
    --color-02: hsl(186, 42%, 18%);
    --color-03: hsl(27, 9%, 62%);
    --color-04: hsl(0, 0%, 95%);
    --color-05: hsl(0, 0%, 5%);
}

.bg_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.overlay::before {
    z-index: -1;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.82) 0%, rgba(0,0,0,0.49576327112876406) 50%, rgba(0,0,0,0.8178921226693803) 100%);
}