@font-face {
    font-family: 'Trojan Pro';
    src: url(../fonts/Trajan\ Pro\ Regular.ttf);
}

:root{
    --hollow-knight-font: 'Trojan Pro', cursive;
    --color-01: hsla(214, 41%, 10%, 0.656) ;
    --color-02: hsl(186, 41%, 18%);
    --color-03: hsl(27, 9%, 62%);
    --color-04: hsl(0, 0%, 95%);
    --color-05: hsl(0, 0%, 5%);
}

body{
    color: var(--color-04);
}

header{
    display: flex;
    padding: 10px;
}

#logo{
    margin: 0 20px;
}

#navMenu ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 24px 0;
}

#navMenu ul li a{
    color: var(--color-04);
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    font: 16px var(--hollow-knight-font);
    border-radius: 10px;
    border: 0.5px solid hsla(0, 0%, 0%, 0);
}

#navMenu ul li a:hover{
    border: 0.5px solid var(--color-04);
    background-color: hsla(0, 0%, 5%, 0.473);
}

main #home{
    max-width: 1440px;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto 200px;
    padding: 0 16px;
    height: 85vh;
}

#home #synopsis{
    max-width: 600px;
    text-align: justify;
}

#synopsis p{
    color: var(--color-04);
    font-family: var(--hollow-knight-font);
    font-size: 14px;
    margin-top: 16px;
    line-height: 140%;
    padding: 10px 16px;
    border-radius: 20px;
    transition: 1s;
}

#synopsis p:hover{
    border: 0.5px solid var(--color-04);
    background-color: var(--color-01);
}

#home div:last-child{
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #home #homeImage{
    max-height: 600px;
    width: auto;
    max-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

main #story{
    background-color: var(--color-01);
    border: 2px solid var(--color-02);
    border-radius: 20px;
    max-width: 950px;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#story div{
    height: 460px;
    overflow-y: hidden;
    position: relative;
}

#story div::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent, var(--color-01));
}

#story h2{
    font-family: var(--hollow-knight-font);
    font-size: 36px;
    text-align: center;
}

#story p{
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 0.5px;
    line-height: 150%;
    font: 16px var(--hollow-knight-font);
    margin-top: 50px;
}

#story #credit{
    font-size: 12px;
    align-self: flex-start;
    text-indent: 0;
}

#story #credit a{
    color: var(--color-03);
    text-decoration: none;
}

#story #credit a:hover{
    text-decoration: underline;
    transition: 0.5s;
}

#story button{
    border: 0;
    color: var(--color-04);
    background-color: var(--color-02);
    font-size: 16px;
    padding: 10px 16px;
}

#story button:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#story.active div{
    height: auto;
}

#story.active div::before{
    height: auto;
}

#characters{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    height: 100vh;
    max-width: 100vw;
}

.wrapper{
    max-width: 400px;
    position: relative;
}

.wrapper > img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background-color: var(--color-05);
    border: 1px solid var(--color-04);
    border-radius: 50%;
    cursor: pointer;
}

.wrapper > img:active{
    transform: translateY(-50%) scale(0.85);
}

.wrapper > img:first-child{
    left: -50px;
}

.wrapper > img:last-child{
    right: -50px;
}

.wrapper .carousel{
    min-height: 420px;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

.carousel .card{
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: var(--color-05);
    box-shadow: 0px 0px 8px var(--color-04);
    padding: 35px 10px;
    border: 1px solid var(--color-04);
    border-radius: 10px;
    height: 390px;
    width: 360px;
    margin: 0 auto;
}

.card .image img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

#dlc{
    max-width: 1120px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

#dlc div{   
    height: 285px;
    width: 225px;
    border: 5px solid var(--color-04);
    position: relative;
    overflow: hidden;   
}

#dlc div img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#dlc div h2{
    opacity: 0;
    background-color: var(--color-01);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}

#dlc div:hover > h2{
    opacity: 1;
    cursor: pointer;
    animation: appear-background 1.5s forwards;
}

footer{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--color-01);
}

footer a{
    color: var(--color-03);
}

.bg_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.overlay::before {
    z-index: -1;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.82) 0%, rgba(0,0,0,0.49576327112876406) 50%, rgba(0,0,0,0.8178921226693803) 100%);
}

@keyframes appear-background{
    from {
        transform: translateY(100%);
    }
    
    to {
        transform: translateY(0);
    }
}